<div class="container jumbotron">
  <div class="flex-container">
      <p>Możesz powtarzać maksymalnie <%= params[:max] %> słówek. Nie masz więcej na dzisiaj.</p>
  </div>
  <br />
  <p><%= link_to "Powrót", packet_words_path(@packet_id), class: "btn btn-primary btn-md" %></p>
</div>
