<div class="container">
  <div class="jumbotron">
    <div class="flex-container">
      <h1>Prywatny Słownik</br>wita</h1>
    </div>
    <div class="container" id="info">
      <p class="text-justify">
        Stwórz swój własny spis tłumaczeń polsko-angielskich, a&nbsp;Prywatny
        Słownik pomoże Ci się ich nauczyć. Gdy dodasz słowo, aplikacja sama
        dobierze dla Ciebie wpisane wcześniej angielskie synonimy tego
        słowa i&nbsp;angielskie nagranie dźwiękowe.
      </p>
      <p class="text-justify">
        Gromadź słowa w paczki słówek według własnego upodobania, np. utwórz
        osobną paczkę dla słowek z&nbsp;różnych seriali, a&nbsp;inną dla filmów.
      </p>
      <p class="text-justify">
        Nie zapomnij uruchomić trybu nauki ("ucz się nowych słowek"), bo samo
        zapisanie nie sprawi, że je zapamiętasz! A&nbsp;potem pamiętaj
        o&nbsp;powótórkach ;)
      </p>
    </div>
    <% if current_user %>
      <div class="container" align="center">
        <h5>Cześć <%= current_user.email %></h5></br>
        <%= link_to "Otwórz swój Prywatny Słownik", user_packets_path(current_user.id), class: "btn btn-primary btn-lg", role: "button" %>
      </div>
    <% elsif params[:sign_up] %>
      <%= render "signup" %>
    <% else %>
      <%= render "login" %>
    <% end %>
  </div>
</div>
