<div class="container jumbotron">
  <div class="flex-container">
    <div>
    <%= form_for @word, url: word_path(params[:id]) do |f| %>
      <%= render partial: "form", locals: { order: "Edytuj słowo", f: f } %>
    <% end %>
    </div>
  </div>
</div>
