/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

#packet_form {
  display: none;
}

#how_many_form {
  display: none;
}

// #container {
//   width: auto;
//   margin-left: 50px;
//   margin-right: 50px;
// }

body {
  background-color: #ffff80;
  margin: auto;
  padding: inherit;
}

.side-panel {
  background-color: #ffff33;
  padding: 10px 10px;
  width: 400px;
  border: 2px solid #ff9900;
}
a {
  color: black;
}

a:hover {
  color: inherit;
}

button {
  background-color: #ff9900;
  border-radius: 30%;
}

button:hover {
  background-color: #e68a00;
}

#enter-button {
  padding: 20px 40px;
  margin: auto;
}

button.logout {
  padding: 5px 10px;
  transition-duration: 0.5s;
}
// #container
// {
//   width: 700px;
//   height: 800px;
//   margin-left: auto;
//   margin-right: auto;
//   background-color: #98FDFF;
// }
//
// .title
// {
//   margin-left: auto;
//   margin-right: auto;
//   height: 150px;
//   width: 500px;
//   background-color: #50C8FC;
//   color: #2455F3;
//   text-align: center;
//   padding-top: 20px;
// }
//
// .content_background
// {
//   background-color: #51DDFF;
//   width: 500px;
//   margin-left: auto;
//   margin-right: auto;
//   height: 650px;
// }
//
// .introduction
// {
//
//   padding-top: 25px;
//   padding-left: 20px;
//   padding-right: 20px;
//   text-align: justify;
// }
//
// h1
// {
//   text-align: center;
// }

// .title
// {
//   font-family: 'Josefin Sans', sans-serif;
// }
